/* author css */
body {
  margin: 0;
  font-family: $primary-font;
  font-size: 16px;
  color: $secondary-color;
  font-weight: 400;
}
h1 {
  font-size: 72px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  line-height: 1.2;
  color: $secondary-color;
  text-transform: capitalize;
  margin-bottom: 0;
}
p {
  margin-bottom: 10px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}
a:focus,
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}
button {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
